/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

/*=== Home Page Section ===*/
.telescreen-main {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'vid-1-1 vid-1-2'
    'vid-1-3 vid-1-4'
    'vid-1-5 vid-1-6'
    'vid-1-7 vid-1-8';
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;    
}

/* Individual Videos */
#vid-1-1 {
  grid-area: vid-1-1;
  min-height: 400px;

  background: url(https://coub-anubis-a.akamaized.net/coub_storage/coub/simple/cw_timeline_pic/a05f0e4494d/165b4adf7d0e08dd8da0f/1471648885_image.jpg);
  background-size: cover;
  background-position: center;
}

#vid-1-2 {
  grid-area: vid-1-2;
  min-height: 400px;

  background-image: url("physical-jerks.PNG");
  background-size: cover;
  background-position: center;
}

#vid-1-3 {
  grid-area: vid-1-3;
  min-height: 400px;

  background-image: url("ingsoc.png");
  background-size: cover;
  background-position: center;
}

#vid-1-4 {
  grid-area: vid-1-4;
  min-height: 400px;

  background-image: url("ingsoc.png");
  background-size: cover;
  background-position: center;
}

#vid-1-5 {
  grid-area: vid-1-5;
  min-height: 400px;

  background-image: url("ingsoc.png");
  background-size: cover;
  background-position: center;
}

#vid-1-6 {
  grid-area: vid-1-6;
  min-height: 400px;

  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/1984JLH2.jpg/440px-1984JLH2.jpg);
  background-size: cover;
  background-position: center;
}

#vid-1-7 {
  grid-area: vid-1-7;
  min-height: 400px;

  background-image: url("ingsoc.png");
  background-size: cover;
  background-position: center;
}

#vid-1-8 {
  grid-area: vid-1-8;
  min-height: 400px;

  background-image: url("ingsoc.png");
  background-size: cover;
  background-position: center;
}

/* General Video Qualities */
.video {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  height: 100%;
  width: 100%;
}
.filler {
  position: relative;
  height: 58%;
  width: 100%;
  border-radius: 3px 3px 0 0;
}
.description {
  padding: 0.8rem;
  position: relative;
  height: 42%;
  width: 100%;
  border-radius: 0 0 3px 3px;
  cursor: pointer;
}
.section {
  font-family: 'Oswald', sans-serif;
  font-size: clamp(14px, 2vw, 20px);
}
.title {
  font-size: clamp(24px, 2vw, 42px);
}

/* Watch Now Qualities */
.watch-now {
  color: #fff;
  font-family: 'Roboto Slab', serif;
  display: flex;
  align-items: center;

  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
}
/* Circle Adjust */
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #282828;
}
.tilt {
  left: 7px;
}
.inner {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}
.bx-play {
  font-size: 40px;
}
/* Text Adjust */
.text {
  margin-left: 10px;
  font-size: 20px;
}

.description:hover .circle {
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.25);
}
.description:hover .order {
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.8);
}


/* Home Page Media Queries */
@media (max-width: 768px) {
  .telescreen-main {
    grid-template-areas:
        'vid-1-1'
        'vid-1-2'
        'vid-1-3'
        'vid-1-4'
        'vid-1-5'
        'vid-1-6'
        'vid-1-7'
        'vid-1-8';
  }
  
}
