/*===== Brotherhood Terminal Code =====*/
.wrapper {
	animation: scroll 5s 1;
}

@import url(https://fonts.googleapis.com/css?family=VT323);

@keyframes scroll {
	0% { height: 0 }
	100% { height: 100%; }
}

@keyframes type { 
  from { width: 0; } 
} 

@keyframes type2 {
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink {
  to{opacity: .0;}
}

@keyframes scan {
	from { top: 0 }
	to { top: 100% }
}

@keyframes flicker {
		0% { opacity: 0.15795 }
		5% { opacity: 0.31511 }
		10% { opacity: 0.94554 }
		15% { opacity: 0.2469 }
		20% { opacity: 0.62031 }
		25% { opacity: 0.0293 }
		30% { opacity: 0.00899 }
		35% { opacity: 0.5344 }
		40% { opacity: 0.12778 }
		45% { opacity: 0.52042 }
		50% { opacity: 0.3823 }
		55% { opacity: 0.2198 }
		60% { opacity: 0.9383 }
		65% { opacity: 0.86615 }
		70% { opacity: 0.68695 }
		75% { opacity: 0.55749 }
		80% { opacity: 0.96984 }
		85% { opacity: 0.0361 }
		90% { opacity: 0.24467 }
		95% { opacity: 0.08351 }
		100% { opacity: 0.54813 }
	}

* {
	box-sizing: border-box;
	}
	
body {
	background: #383838;
	color: #00dd00;
	font-family: 'VT323', Courier;
	height: 100%;
  	padding: 4vw;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
	display: none;
}
	
span { 
	animation: blink 1s infinite 
}

.overlay {
	height: 1px;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
}

.overlay:before {
	background: linear-gradient(#101010 50%, rgba(16, 16, 16, 0.2) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.03));
	background-size: 100% 3px, 6px 100%;
	content: "";
	display: block;
	pointer-events: none;
	position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	z-index: 2;
}
	
.overlay:after {
	animation: flicker 0.30s infinite;
	background: rgba(16, 16, 16, 0.2);
	content: "";
	display: block;
	pointer-events: none;
	position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	z-index: 2;
}

.content { 
	animation: scroll 3s 1;
  	overflow: hidden;
	padding: 40px; 
	position: relative;
	width: 95%;
}

.expandingArea { 
	position: relative 
}
	
.scanline {
	animation: scroll 10s 5s infinite;
	background: -moz-linear-gradient(top,  rgba(0,221,0,0) 0%, rgba(0,221,0,1) 50%, rgba(0,221,0,0) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,221,0,0) 0%,rgba(0,221,0,1) 50%,rgba(0,221,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,221,0,0) 0%,rgba(0,221,0,1) 50%,rgba(0,221,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000dd00', endColorstr='#0000dd00',GradientType=0 );
	display: block;
	height: 20px;
	opacity: 0.05;
	position: absolute;
	left: 0;
	right: 0;
	top: -5%;
	z-index: 2;
}

.clear {
	clear: both;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.upper { text-transform: uppercase; }


/*===== Brotherhood Main Section =====*/
.typewriter {
  font-size: 1.6rem;
}
p { 
  padding:0px; 
  margin:0px; 
} 
a {
	color: #00dd00;
}
.space {
	color: #383838;
}
.hyperlink {
  color: #00dd00;
}
button {
  font-size: 2rem;
  color: #00dd00;
  font-family: 'VT323', Courier;
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: underline;
  cursor: pointer;
  float: left;
}
#archives {
  display: none;
}
#community {
	display: none;
}
.communityButton {
	display: inline-block;
}
.communityYesOrNo {
	display: inline-block;
	color: red;
}
.communitySpacer {
	display: inline-block;
	color: #383838;
}


/*===== Resizings =====*/
@media (max-width: 1330px) { 
	.typewriter {
		font-size: 1rem;
	}
	button {
		font-size: 1rem;
	}
}
@media (max-width: 1000px) { 
	.typewriter {
		font-size: 0.8rem;
	}
	button {
		font-size: 0.8rem;
	}
}
@media (max-width: 680px) { 
	.typewriter {
		font-size: 0.6rem;
	}
	button {
		font-size: 0.6rem;
	}
	.overlay:before {
		background-size: 100% 2px, 4px 100%;
	}
}
@media (max-width: 540px) { 
	.typewriter {
		font-size: 0.5rem;
	}
	button {
		font-size: 0.5rem;
	}
}
@media (max-width: 420px) { 
	.typewriter {
		font-size: 0.4rem;
	}
	button {
		font-size: 0.4rem;
	}
}
@media (max-width: 350px) { 
	.typewriter {
		font-size: 0.3rem;
	}
	button {
		font-size: 0.3rem;
	}
}
